# Node modules
/node_modules

/.idea
package-lock.json

# Compilation output
/dist

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
